.wrap{
  position: fixed;
  z-index: 9999;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  top: 25px;
  left: 25px;
  transition: transform 0.5s ease-in-out;
}

.wrap span{
  position: relative;
  overflow: visible !important;
}
.wrap > span::before{
  content: "";
}

.navBg{
  position: fixed;
  top: 15px;
  left: 15px;
  width: 70px;
  height: 70px;
  height: calc(100% - 30px);
  border-radius: 35px;
  background-color: var(--blue7);
  box-sizing: border-box;
  user-select: none;
  z-index: 9998;
}

.wrap span img{
  cursor: pointer;
  transition: 0.5s;
  user-select: none;
  -webkit-user-drag: none;
}

/* .wrap span img:active{
  transform: rotate(180deg);
} */